.container {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  width: 100vw;
  border: 2px solid red;
}

.content {
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 20vw;
  border: 2px solid blue;
}

.right-content {
  display: flex;
  flex-direction: column;
}

.page {
  height: 90vh;
  width: 80vw;
  border: 2px solid lightgreen;
}

.footer {
  width: 80vw;
  border: 2px solid violet;
}
